{% autoescape off %}<html><head><meta charset="utf-8" /></head><body><pre>

<hr>comments: {{ comments }}

<hr>title: {{ title }}

<hr>meta: {{ meta }}

<hr>fonts: {{ fonts }}

<hr>touch: {{ touch }}

<hr>system js: {{ system_js }}

<hr>head js: {{ head_js }}

<hr>css: {{ css }}

<hr>accessibility: {{ accessible }}

<hr>svg: {{ svg  }}

<hr>html: {{ html }}

<hr>form: {{ form }}

<hr>modules: {{ modules }}

<hr>analytics: {{ analytics_id }}

<hr>body js: {{ body_js }} 

</body></html>{% endautoescape %}

