{% load static %}
{% autoescape off %}<!--
<html><head><meta charset="utf-8" />
  <title> Animation Lab </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"/><!-- minimum scale is for mobile Chrome horz scrolling -->
  <link rel="icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <meta property="og:image" content="/images/capture.jpg">
  <script src="{% static 'svija/scripts/TweenMax-2.0.2.js' %}"></script>
</head><body>

    <pre>{{ msg }} : Animation Lab</pre>

SVG: <select id=svg_list></select>
ID: <select id=id_list></select>

<p><input type=button value='run test' onclick="button_function();">
<input type=button value='list SVGs' onclick="list_svgs();">
<p><textarea id=feedback style="width:100%;height:300px;background-color:hsla(0,50%,50%,1);color:white;"></textarea>

<script>
//———————————————————————————————————————— list svg's

  var opener = window.opener;
  if(opener) {
    var oDom = opener.document;
    var divs = oDom.getElementsByTagName("svg");
      for(var i = 0; i < divs.length; i++){
         feedback.value += "\n" + divs[i].id;
      }
  }

//———————————————————————————————————————— update opener with green border

function button_function(){
	updater('animation-lab');
}

function updater(obj_id){
  var opener = window.opener;
  if(opener) {
    var oDom = opener.document;
    var elem = oDom.getElementById(obj_id);
    if (elem) {
  		elem.style.border = '1px solid lime';
    }
  }
}

//———————————————————————————————————————— list svg's of parent window

function list_svgs(){
  var opener = window.opener;
  if(opener) {
    var oDom = opener.document;
    var divs = oDom.getElementsByTagName("svg");
      for(var i = 0; i < divs.length; i++){
         feedback.value += "\n" + divs[i].id;
      }
  }
}

daySelect = document.getElementById('svg_list');
var opener = window.opener;
if(opener) {
  var oDom = opener.document;
  var divs = oDom.getElementsByTagName("svg");
    for(var i = 0; i < divs.length; i++){
      if (divs[i].id != 'animation-lab')
        daySelect.options[daySelect.options.length] = new Option(divs[i].id, divs[i].id);
    }
}

//———————————————————————————————————————— fin

</script></body></html>{% endautoescape %}
