{% load static %}
{% autoescape off %}<!--


{{ comments }}


--><!DOCTYPE html><html><head><meta charset="utf-8" />
  <title> {{ title }} </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, viewport-fit=cover"/><!-- minimum scale is for mobile Chrome horz scrolling -->
  <!-- meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" --> 
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="google" content="notranslate">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
{{ meta_fonts }}
  <meta name="apple-mobile-web-app-title" content="{{ touch }}">
  <meta property="og:image" content="/images/capture.jpg">
<script>

pageLoaded = false;

{{ system_js                           }}
{% include "svija/js/cookies.js"       %}
{% include "svija/js/screens.js"       %}
{% include "svija/js/window_mgmt.js"   %}
{% include "svija/js/sections.js"      %}
{% include "svija/js/tap_highlight.js" %}
{{ js                                  }}

</script>

<style>

{% include "svija/css/svija.css" %}
{{ font_css }}
{{ css }}

</style>

<!-- Google's script with IF added -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
<script>

	if (tracking_on || getCookie('acceptsCookies')==1){ // added to script from Google
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ analytics_id }}');
	} // added to script from Google

</script>
<script src="{% static 'svija/js/gsap.min.js' %}"></script>
</head><body>
{% include "svija/html/unsupported.html" %}
<div id="initial_scroll_div"></div>
<script>
{% include "svija/js/initial_scroll.js" %}
{% include "svija/js/window_mgmt.js"    %}
</script>
<div id=accessibility>{{ accessible }}</div>
{% block token%}{% endblock %}

{{ body }}

<script>

  {% include "svija/js/page_background.js" %}

  document.getElementById('initial_scroll_div').outerHTML = '';
  pageLoaded = true;

</script></body></html>{% endautoescape %}
