{% load static %}
{% autoescape off %}<!--


{{ comments }}


--><!DOCTYPE html><html{{ language_code }}><head><meta charset="utf-8" />
  <title> {{ title }} </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, viewport-fit=cover"/><!-- minimum scale is for mobile Chrome horz scrolling -->
  <!-- meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" --> 
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="google" content="notranslate">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
{{ google_font_meta }}
  <meta name="apple-mobile-web-app-title" content="{{ touch }}">
  <meta property="og:image" content="/images/capture.jpg">

<script> // system JS

pageLoaded = false;

{{ system_js                           }}
{% include "svija/js/cookies_min.js"       %}
{% include "svija/js/screens_min.js"       %}
{{ redirect_js                         }}
{% include "svija/js/window_mgmt_min.js"   %}
{% include "svija/js/sections_min.js"      %}
{% include "svija/js/tap_highlight_min.js" %}
{{ page_head_js                        }}
{{ comp_head_js                        }}
</script>
<style>
{% include "svija/css/svija_min.css"       %}
{% include "svija/css/vibe_min.css"        %}
{{ font_css }}
{{ page_css }}
{{ comp_css }}
</style>
<!-- Google's script with IF added -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
<script>

	if (tracking_on || getCookie('acceptsCookies')==1){ // added to script from Google
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ analytics_id }}');
	} // added to script from Google

</script>
<script src="{% static 'svija/js/min_gsap.js' %}"></script>

</head><body>

<div id="set_scroll_div"></div>

<script>
{% include "svija/js/scrollbars_min.js"     %}
</script>

{% block token%}{% endblock %}

<div id=captureSvija>{{ capture }}</div>
<div id=linksSvija  >{{ links   }}</div>

{{ page_body }}

<div id=accessSvija>{{ accessible }}</div>

{{ comp_body }}

{% include "svija/html/unsupported_min.html" %}

<script>// page BG & scroll div

  {% include "svija/js/page_background_min.js" %}
  {% include "svija/js/vibe_min.js" %}

  document.getElementById('set_scroll_div').outerHTML = '';
  pageLoaded = true;

</script>

{% if request.user.is_staff %}
{% include  "svija/css/cloud_module_min.css"  %}
{% include "svija/html/cloud_module_min.html" %}
{% include   "svija/js/cloud_module_min.js"   %}
{% endif %}

</body></html>{% endautoescape %}
