{% load static %}
{% autoescape off %}<!--


{{ comments }}


--><!DOCTYPE html><html><head><meta charset="utf-8" />
  <title> {{ title }} </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, viewport-fit=cover"/><!-- minimum scale is for mobile Chrome horz scrolling -->
  <!-- meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" --> 
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="google" content="notranslate">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
{{ google_font_meta }}
  <meta name="apple-mobile-web-app-title" content="{{ touch }}">
  <meta property="og:image" content="/images/capture.jpg">

<script> // system JS
pageLoaded = false;
{{ system_js                           }}
{% include "svija/js/min_cookies.js"       %}
{% include "svija/js/min_screens.js"       %}
{% include "svija/js/min_window_mgmt.js"   %}
{% include "svija/js/min_sections.js"      %}
{% include "svija/js/min_tap_highlight.js" %}
{{ head_js                                 }}
</script>
<style>
{% include "svija/css/min_svija.css"       %}
{{ font_css }}
{{ css }}
</style>
<!-- Google's script with IF added -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
<script>

	if (tracking_on || getCookie('acceptsCookies')==1){ // added to script from Google
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ analytics_id }}');
	} // added to script from Google

</script>
<script src="{% static 'svija/js/min_gsap.js' %}"></script>

</head><body>
<div style="display:none">{{ links   }}</links></div>
<div style="display:none">{{ capture }}</links></div>

<div id="set_scroll_div"></div>

<script>
{% include "svija/js/min_scrollbars.js"     %}
</script>

<div id=accessibility>{{ accessible }}</div>

{% block token%}{% endblock %}

{{ body }}

{{ components }}

{% include "svija/html/unsupported.html" %}

<script>// page BG & scroll div

  {% include "svija/js/min_page_background.js" %}

  document.getElementById('set_scroll_div').outerHTML = '';
  pageLoaded = true;

</script>

</body></html>{% endautoescape %}
