/* html, body{
  background-color:white;
}

body{
  overflow:hidden;
}

#accessibility, svg, form, div, p{
  display:none;
} */

div#nocoukie, div#noscript{
  display:none;
}

div#nocookie{
  text-align:center;
  font-family:verdana, sans-serif;
  font-size:13rem;
  color:white;
  background-color:#333;
  border-radius:5rem;
  padding:15rem;

  display:block !important;
  z-index:999999;

  position:fixed;
  width:240rem;
  left:30rem;top:30rem;
  border:none;
}
