div#nocoukie, div#noscript{
  display:none;
}

div#nocookie{
  text-align:center;
  font-family:verdana, sans-serif;
  font-size:8rem;
  line-height:12rem;
  color:black;
  background-color:white;
  border-radius:0 0 5rem 5rem;
  padding:15rem;

  display:block !important;
  z-index:999999;

  position:fixed;
  width:240rem;
  left:30rem;top:0rem;
  border:1rem solid black;
  border-top:none;
}

html{
  font-size:1.6px;
}

div#set_scroll_div{
  display:none;
}
