html, body{
  background-color:white;
}

body{
  overflow:hidden;
}

#accessibility, svg, form, div, p{
  display:none;
}

pre#noexplorer, pre#noscript{
  display:none;
}

pre#nocookie{
  font-size:16px;
  display:block;
}
