/* html, body{
  background-color:white;
}

body{
  overflow:hidden;
}

#accessibility, svg, form, div, p{
  display:none;
} */

div#noexplorer, div#nocoukie{
  display:none;
}

div#noscript{
  text-align:center;
  font-family:verdana, sans-serif;
  font-size:1.3rem;
  color:white;
  background-color:#333;
  border-radius:0.5rem;
  padding:1.5rem;

  display:block !important;
  z-index:999999;

  position:fixed;
  width:24rem;
  left:3rem;top:3rem;
  border:none;
}
