.gitconfig                                                                       
*.un~                                                                            
untracked/*                                                                      
.DS*                                                                             
"Icon\r"                                                                         
*__pycache__*
