/*———————————————————————————————————————— global css */

html,body{ margin: 0px; }

 svg:first-of-type{
     width: 100%;   /* avoids flash when SVG is resized */
  overflow: hidden; /* so MS browsers won't display content outside of artboard */
}

svg{ /* un-positioned elements draw first by default, screwing up z index */
    position:relative;
}

#snippet{ /* positioning */
        position: absolute; left: 1rem; top: 1rem;
           width: 20rem;  height: 20rem;
        overflow: hidden;
  pointer-events: none;
         z-index: -999; 
}

#snippet, #snippet a:link, #snippet a:visited{
   font: normal 1rem/1.4rem verdana;
  color: #999;
}
