<style>

/*———————————————————————————————————————— cloud_module.css */

#cloudModule{
  font-size:16rem;
  position:absolute;
  top:0;
  margin-left:auto; margin-right:auto;
  width:50%;
  height:100px;
  background-color:lime;
}

</style>
