/*———————————————————————————————————————— global css

https://www.toptal.com/developers/cssminifier

*/

/*———————————————————————————————————————— global css */

html{
  font-size:1.6px;
}

html,body{  margin: 0px;
           padding: env(safe-area-inset); /* https://stackoverflow.com/a/50475590/72958 */ 
  background-color: #dbdbdb; } /* html color is what you seen when you pull down the page */

body{ position:absolute; } /* necessary for module svg's with absolute positioning */

svg{ 
    position:relative; /* un-positioned elements draw first by default, screwing up z index */
     display:block;    /* prevents space between adjacent SVG's */
    overflow:hidden;   /* necessary for IE */
}

/* avoids flash when SVG is resized */
svg:first-of-type{ width: 100%; }

#accessibility{ /* positioning */
        position: absolute;
  pointer-events: none;
           width: 80%;     margin-left: auto; margin-right: auto;
          height: 20rem;   margin-top :-22rem;
        overflow: hidden;
  pointer-events: none;
         z-index: -999; 
}

#accessibility, #accessibility a:link, #accessibility a:visited{
   font: normal 1rem/1.4rem verdana;
  color: #999;
}

/* width & height include padding & borders */
* { box-sizing: border-box; }

/* smooth font scaling in Safari */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  * { text-rendering: geometricPrecision; }
}

div#noscript, div#ncoukie, div#explorer{ display:none; }

#initial_scroll_div{
  position:absolute;
  top:0;
  left:0;
}
