/*———————————————————————————————————————— global css

https://www.toptal.com/developers/cssminifier

*/

/*———————————————————————————————————————— global css */

html{
  font-size:1.6px;
}

html,body{  margin: 0px;
           padding: env(safe-area-inset); /* https://stackoverflow.com/a/50475590/72958 */ 
  background-color: #dbdbdb; } /* html color is what you seen when you pull down the page */

body{ position:absolute; } /* necessary for module svg's with absolute positioning */

svg{ 
    position:relative; /* un-positioned elements draw first by default, screwing up z index */
     display:block;    /* prevents space between adjacent SVG's */
    overflow:hidden;   /* necessary for IE */
}

/* width & height include padding & borders */
* { box-sizing: border-box; }

/*———————————————————————————————————————— variables */

/* variables are in template svija.html
   var arSels = {'ariaO':0.5, 'ariaZ':9999, 'ariaP':'none', 'ariaF':'hidden'} */

/*———————————————————————————————————————— hide capture, links & accessibility */

#captureSvija, #linksSvija, #accessSvija{
         opacity: var(--ariaO);
         z-index: var(--ariaZ); 
  pointer-events: var(--ariaP);
        overflow: var(--ariaF);
}

/*———————————————————————————————————————— position capture, links & accessibility */

#captureSvija, #linksSvija, #accessSvija{
         display: block;
        position: absolute;
            left: 5%;
       max-width: 90%;
      max-height: 25%;
background-color: lime;
       font-size: 10rem;
     line-height: 14rem;
}

/*———————————————————————————————————————— 1/3 each */

#captureSvija{ top:  6%; }
#linksSvija  { top: 37%; }
#accessSvija { top: 68%; }

/*———————————————————————————————————————— window management */

div#noscript, div#nocoukie, div#explorer{ display:none; }

#initial_scroll_div{
  position:absolute;
  top:0;
  left:0;
}
/*———————————————————————————————————————— bug fixes */

/* avoids flash when SVG is resized */
svg:first-of-type{ width: 100%; }

/* smooth font scaling in Safari */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  * { text-rendering: geometricPrecision; }
}

/*———————————————————————————————————————— fin */

